[2014-07-08 06:54] kuno opened #28 "0.3.6 broken gulp task"
I found out that if I am using 0.3.6 of this module, it will break my tasks. But if I downgrade to 0.3.4, it seems just fine. The source files are same, just vanilla css files.

So this is confuse me, why this happened. Here is the error messages:

[code]

[2014-08-19 15:59] jblandry opened #34 "Minify with sourcemaps"
Hi,

I'm trying to minify my compass-compiled css and keep the sourcemap generated, but it does not seem to work because the sourcemap doesn't change after the minifying.

This pattern doesn't seem to be implemented in your plugin:
https://github.com/floridoo/gulp-sourcemaps#plugin-developers-only-how-to-add-source-map-support-to-plugins

Thanks in advance

[code]

[2014-08-22 16:00] bharley opened #36 "Handling errors"
Is there anyway to handle errors with this plugin to prevent watch from breaking?

E.g., this doesn't work:
[code]

[2014-09-17 13:26] snhasani opened #38 "wrong merge"
not merge background-size property with background. because it's not work in some early version of iOS and android OS.

[code]

the minify reduction above code to this

[code]
this is wrong.

[2014-10-16 10:23] sheo13666 opened #41 "How use this plugin with gulp-load-plugins?"

[2014-11-17 20:58] aaronbushnell opened #46 "Removing CSS properties and pixel fallbacks generated by pixrem"
gulp-minify-css is removing pixel fallbacks for various CSS properties generated by pixrem. Here's my `styles.styl`:

[code]

If I don't use gulp-minify-css, my output is:

[code]

When I use gulp-minify-css, the pixel fallback for `padding` gets removed and my output is:

[code]

===

My `gulpfile.js`:

[code]

My `package.json`:

[code]

[2014-12-19 09:53] jakubpawlowicz opened #49 "Update clean-css to 3.0"
It was released yesterday and here are upgrade instructions: https://github.com/jakubpawlowicz/clean-css#how-to-upgrade-clean-css-from-2x-to-3x

[2015-01-08 12:11] cjcheshire opened #54 "0.2s becomes .2s"
Hi

I'm having some issues with my values and wondered if there is a feature beyond "noAdvanced" that would prevent them from being changed?

I know this would preventing further minifying, just wondered :)

[2015-01-12 17:10] jonathanepollack commented on #54
This is a `clean-css` issue.

[2015-01-12 17:10] #54 closed

[2015-01-12 17:21] cjcheshire commented on #54
My apologies.

[2015-01-12 17:21] jonathanepollack commented on #54
No worries.
On Mon 12 Jan 2015 at 18:21 cjcheshire <notifications@github.com> wrote:

[2015-01-13 00:06] #49 closed

[2015-01-13 00:06] #38 closed

[2015-01-13 00:07] #28 closed

[2015-01-13 21:42] dzoba opened #56 "Issue with @import encountered and resolved"
I'm leaving this here for others who may come into contact with this issue (as we did) after gulp-minify-css's recent update of clean-css.  After clean-css version 2.1.0, clean-css will fail if the url in an @import statement isn't reachable.

In our case, we use fonts from typography.com and the url isn't directly reachable (403), so suddenly our builds started failing.  We resolved this by inclu

[2015-01-13 23:05] mnpenner commented on #34
:+1:  Everything else in my CSS chain now supports source maps; this is the missing link.

[2015-01-14 08:13] rogierschouten commented on #56
Does this error manifest itself this way in Gulp?

[code]

[2015-01-14 12:46] davidangel commented on #34
+1 for sourcemap support

[2015-01-15 19:45] rightaway commented on #34
+1

[2015-01-15 20:50] DominicBarnard commented on #34
BOOOM... [Sourcemaps!](https://github.com/jonathanepollack/gulp-minify-css/pull/57)
Give it a go and let me know if works.

[2015-01-16 15:37] jonathanepollack commented on #56
So... is this resolved?

[2015-01-16 17:31] rogierschouten commented on #56
To answer my own question: yes this was an @import error.
I think it is a bug that gulp-minify-css does not emit the proper error to gulp.

[2015-01-17 21:44] #34 closed

[2015-01-17 21:46] jonathanepollack commented on #46
Now that everything has been merged in, can you see if you're still having this issue?

[2015-01-17 22:08] marvinroger commented on #34
Thanks guys, sourcemaps are now working great as of 0.3.13, available now on npm. :+1:

[2015-01-19 16:59] sintell opened #58 "noAdvanced option became advanced in clean-css 3.x"
As per clean-css docs: `noAdvanced became advanced - make sure to reverse the value;` ([link](https://github.com/jakubpawlowicz/clean-css#nodejs-module))

So probably gulp-minify-css should update it docs aswell.

[2015-01-20 22:36] aaronbushnell commented on #46
Still seems to be an issue if `.pipe(minifyCSS())` is after `.pipe(pixrem())`. I need to swap these for this to work.

[2015-01-20 22:37] jonathanepollack commented on #46
So it's an incompatibility between these two libraries -- not between any
gulp plugins, eh?

On Tue Jan 20 2015 at 11:36:18 PM Aaron Bushnell <notifications@github.com>
wrote:

[2015-01-20 23:19] aaronbushnell commented on #46
It sounds like it. And, honestly, there's no real benefit to having one before/after the other so I'd say this is a non-issue at this point. Whether the minification process occurs before or after pixrem doesn't really make any difference.

[2015-01-20 23:19] aaronbushnell commented on #46
Thanks for the help, though!

[2015-01-21 03:13] #41 closed

[2015-01-21 04:34] #46 closed

[2015-01-21 04:34] jonathanepollack commented on #56
So there was no resolution?

[2015-01-21 04:35] jonathanepollack commented on #58
Shit, I'll try to get on this ASAP

[2015-01-21 04:48] #58 closed

[2015-01-21 18:35] rightaway opened #60 "Concatenating Sass files before minifying?"
Is is possible to get the sourcemaps feature of gulp-minify-css working if you are concatenating the Sass files first? For example if I do it like this, the browser shows the lines from the concat.scss file. Is it possible to have the browser show the lines from the original .scss files (the ones used for concatenation) where the line came from?

Or am I totally misunderstanding how this all works

[2015-01-21 19:38] jonathanepollack commented on #60
Sounds like two levels of transformations. I.e you want to go from this:
[code]
to this in the browser
[code]
?

[2015-01-22 11:57] rightaway commented on #60
I guess it is 2 transformations, or maybe more because of concatenation. Can you think of any way that such a setup could work?

I could save the minification just for prod not dev, but in dev wouldn't the source maps still show me the lines in the concatenated Sass rather than the source Sass?

[2015-01-23 01:53] mnpenner commented on #34
Works great. Thank you !

[2015-01-25 02:56] Stichoza opened #61 "v0.3.12 breaks tasks"
I don't know what exactly is the problem, but `v0.3.12` breaks tasks. I have downgraded to `v0.3.11` and it works fine as it did usually.

And I'm not the only one. @thepuzzlemaster wrote it in https://github.com/jonkemp/gulp-useref/issues/44 (here I found the version issue)

Here is my [`package.json`](https://github.com/Stichoza/emul.ge/blob/8a63b8e1ed4b0ca43a32056d10d22cde7709085f/package.json#

[2015-01-25 03:27] Stichoza commented on #61
**Update:** The newer version which broke tasks was `v0.3.13` not `v0.3.12`. As I see breaking changes are after `v0.4`, so both `v0.3.13` and `v0.3.11` should work fine (but they don't).

[2015-01-26 09:17] jonathanepollack commented on #61
I think, technically, breaking changes were originally introduced in v0.3.12, but I forgot to upgrade the version number -- really sorry about that.

Does you still have issues with version v0.4?

[2015-01-26 12:59] Stichoza commented on #61
I haven't tried v0.4 yet, I froze my dependencies on v0.3.11.

[2015-01-26 13:10] jonathanepollack commented on #61
Please try 4 and get back to me asap.
On Mon 26 Jan 2015 at 13:59 Levan Velijanashvili <notifications@github.com>
wrote:

[2015-01-26 13:57] Stichoza commented on #61
Updated to v0.4.2, error is the same (see stack trace above).

[2015-01-26 13:57] jonathanepollack commented on #61
Oh man. No good. Let me look into this.

[2015-01-26 14:01] jonathanepollack commented on #61
Also, are you sure you test v0.3.12 , and experienced no breakage?

[2015-01-26 14:12] Stichoza commented on #61
I tried `v0.3.12` and still the same error. I can fix this by downgrading to `v0.3.11`
![screen shot 2015-01-26 at 18 10 44](https://cloud.githubusercontent.com/assets/1139050/5900860/ccbdb652-a586-11e4-8b43-d880797c40ee.png)

[2015-01-26 14:13] jonathanepollack commented on #61
Cool. Can you go into `/path/to/project/node_modules/gulp-minify-css/index.js:113:9` and get me the log of the error object (and whatever else the callback was trying to return)?

[2015-01-26 14:23] Stichoza commented on #61
In case of v0.3.12 ther was no line 113 (see the screenshot, that's line 87)

In case of v0.3.13 it's line 113 as you mentioned (and as it's stated in the stack trace in the issue description).

In both cases (line 87 and line 113) the code is `done(errors ? errors[0] : null, file);`

See full source here: https://github.com/jonathanepollack/gulp-minify-css/blob/e8dc2186b632e4696ed5b1dfa50ad597b81

[2015-01-26 14:25] jonathanepollack commented on #61
Yeah, I think I'm starting to see what's going on. Basically 047de32 made it in, without being tagged.

Let me see if I can roll in a patch on v0.3.x to fix this.

[2015-01-26 14:27] Stichoza commented on #61
P.S In my case it's not a laravel app and I'm not using `laravel/elixir` I mentioned in https://github.com/laravel/elixir/pull/41. It's just a Node.js LoopBack app.

[2015-01-26 14:46] jonathanepollack commented on #61
So the interesting thing is that you're getting the error event "error", which I believe is coming from inliner.

can you log for me `context.errors` at `/path/to/project/node_modules/gulp-minify-css/node_modules/clean-css/lib/imports/inliner.js:36` ?

[2015-01-26 16:07] Stichoza commented on #61
Sorry for the late answer. The line 36 at inliner.js is `return importFrom(data, context);`

[code]

[2015-01-26 16:10] jonathanepollack commented on #61
Dude. I know what the line is. I want to know what the value of `context.errors` is for you.

[2015-01-26 16:26] Stichoza commented on #61
Lol, sorry. Didn't read your comment carefully.

It's strange I run `npm update` and there are no more errors (and `context.errors` is an empty array I guess). Have you patched it already?

[2015-01-26 16:27] jonathanepollack commented on #61
No patches, I've done nothing actually. Just twiddling my thumbs here.

On Mon Jan 26 2015 at 5:26:25 PM Levan Velijanashvili <
notifications@github.com> wrote:

[2015-01-26 16:41] jonathanepollack commented on #61
If you're not still getting an error, I'm going to close this issue, ok?

[2015-01-26 16:47] Stichoza commented on #61
I tested everything and works fine. I just removed `node_modules` folder and run `npm install` as I did usually during this conversation. Ok, let's close this issue.

[2015-01-26 17:02] jonathanepollack commented on #61
@thepuzzlemaster can you log for me `context.errors` from `/path/to/project/node_modules/gulp-minify-css/node_modules/clean-css/lib/imports/inliner.js:36`?

[2015-01-26 17:06] thepuzzlemaster commented on #61
Adding `console.log(context.errors);` to line 35 results in an empty array
[] being output to the console. Followed by the error.

On Mon, Jan 26, 2015 at 9:02 AM, Jonathan Pollack <notifications@github.com>
wrote:

[2015-01-26 17:08] jonathanepollack commented on #61
Weird. Can you then log me the error object `errors` at `/path/to/project/node_modules/gulp-clean-css/index.js:112`?

[2015-01-26 17:13] Stichoza commented on #61
The `context.error` was an empty array for me too ([comment above](https://github.com/jonathanepollack/gulp-minify-css/issues/61#issuecomment-71488497)), but it was when the error got fixed.

[2015-01-26 17:17] thepuzzlemaster commented on #61
Assuming it's a typo, my installed modules don't have gulp-clean-css, but instead just clean-css.

clean-css/index.js is only one line, which exports `./lib/clean`

lib/clean.js has a function `minifyWithDebug` on line 110, which accepts a context argument. I attempted to log context.errors inside that function, but it never fires.

[2015-01-26 17:19] jonathanepollack commented on #61
I'm sorry, I meant `gulp-minify-css`. I.e. **this** package.

[2015-01-26 17:24] thepuzzlemaster commented on #61
Ahhh.

`[ 'Broken @import declaration of "../bower_components/attribute-reflection-mixin/attribute-reflection-mixin.css"' ]`

[2015-01-26 17:27] jonathanepollack commented on #61
Yeah, it can't find that file, which is why you're getting that error.

[code]
from `clean-css/limb/imports/inliner.js:288`

[2015-01-26 17:32] thepuzzlemaster commented on #61
Unfortunately, I didn't set up the build process for this app, and it's rather complex. I will look into why that file exists (assuming it does) in v0.3.11 and not in this version.

I would say, that surfacing that error would be mighty handy, though.

[2015-01-26 17:35] jonathanepollack commented on #61
Basically after `v0.3.11` we introduced local inline imports -- which is why things are failing for you. If you don't want to process imports, you can supply the gulp plugin with the option `{processImport: false}`. (In fact, give that a shot and see if you everything works).

[2015-01-26 17:35] #61 closed

[2015-01-26 17:40] thepuzzlemaster commented on #61
Yes, changing my option to false from true did stop the error, and everything appears to be working correctly.

[2015-01-26 17:41] Stichoza commented on #61
Now it's getting even more strange. The error still occurred for me. Then I run `gulp` again and still the same error. I run `gulp` *third* time and everything worked.

I haven't changed even a single character in code.

[2015-01-26 18:00] jonathanepollack commented on #61
@Stichoza You should just disable local import processing. You were actually using before v0.3.12, so this should cause any breakage.

In the meanwhile, I'm going to roll a patch that gives more descriptive errors.

[2015-01-26 18:33] thepuzzlemaster commented on #61
Thanks for the help with this @jonathanepollack
This makes sense.

[2015-01-26 21:58] #36 closed

[2015-01-26 22:02] jonathanepollack commented on #56
So I'm fairly sure we just went through the whole [Megillah](https://en.wikipedia.org/wiki/Megillah_(Talmud)) dealing with this on #61. I'm going to close this issue as this it seems like this error comes from `inliner` (a `clean-css` module), when it can't find the file you're trying to import.

If you're having this issue, please use the `gulp-minify-css` option `{processImport: false}`.

[2015-01-26 22:02] #56 closed

[2015-01-26 22:03] jonathanepollack commented on #60
Nothing really comes to mind. Maybe you should try to googling around for some plugin recipes that handle this. If you find any, feel free to throw them down here.

[2015-01-26 22:03] #60 closed

[2015-01-29 08:12] newtonianb opened #62 "Wrong css compiled"
please temporarily ignore this, investigating one more thing

[2015-01-29 08:14] #62 closed

[2015-02-03 13:28] gemmastephen commented on #61
Setting {processImport: false} worked for me, thanks!

[2015-02-03 13:47] jonathanepollack commented on #61
:+1:

[2015-02-03 19:43] backflip opened #64 "Incomplete sources property in multi-step setup when using the base option in gulp.src"
I discovered a really weird issue in my setup (which includes sass as a preprocessing step): When specifying the ```base``` option in ```gulp.src```, the ```sources``` property of the map returned is missing the included files.

## General setup

Gulpfile.js:
[code]

main.scss:
[code]

## Result

- Expected ```sources``` of map: ```['css/_partial.scss', 'css/main.scss']```
- Resulting ```sources``

[2015-02-04 09:02] jonathanepollack commented on #64
Let start with the basic diagnostics: what version are you using? Does the source map example pattern (using gulp src maps) not work for you?

[2015-02-04 09:04] backflip commented on #64
I'm using a fork of your repo which was updated yesterday, I guess it's 0.4.4. The example pattern works as long as I don't use the ```base``` option in ```gulp.src``` (see example in https://github.com/unic/gulp-minify-css/commit/4e6b5ec38a704c8eca5a45be490059e6f1b73a05#diff-55582a548247743b28d88aa1ff809961R94).

[2015-02-04 13:46] dewald-laubscher opened #65 "When keepSpecialComments is not 0"
So I don't forget to make a recreate able  process.

When minifyi runs on css that has comments (or I dont even know where the comments are coming from  after minification) and  I have css that start with [star], the all selector, then the logical outworking is no style because of /[star] being the result. I will recreate this and post that code here in a while.

[2015-02-04 14:47] jonathanepollack commented on #64
Can you go back to v0.4.0 and see if that works?

[2015-02-04 16:16] backflip commented on #64
Same issue with v0.4.0

[2015-02-04 16:17] jonathanepollack commented on #64
So it means the source-maps feature was never implemented to handle this,
then....

On Wed Feb 04 2015 at 5:16:02 PM Thomas Jaggi <notifications@github.com>
wrote:

[2015-02-04 16:21] jonathanepollack commented on #64
Alrighty, it looks like we should just go with your PR then!

[2015-02-04 16:38] backflip commented on #64
@floridoo, are there any downsides to passing the whole sourcemap as a string to ```vinyl-sourcemaps-apply``` as suggested in https://github.com/unic/gulp-minify-css/commit/4e6b5ec38a704c8eca5a45be490059e6f1b73a05#diff-168726dbe96b3ce427e7fedce31bb0bcR83?

[2015-02-04 17:08] backflip commented on #64
Okay, I'd suggest merging this. Sorry about the back and forth... :)

[2015-02-04 17:37] backflip commented on #64
After doing some more digging: The issue seems to have to do with ```vinyl-sourcemaps-apply``` all the same.

## 1. Without ```base``` option
**Input to ```applySourceMap(file, sourceMap)```:**

```file.sourceMap``` :
[code]

```sourceMap``` :
[code]

**Output from ```applySourceMap(file, sourceMap)```:**

```file.sourceMap``` :
[code]

## 2. With ```base``` option

**Input to ```applySourceMap(fi

[2015-02-04 17:55] backflip commented on #64
(Comment removed after realizing it was incorrect). I will stop spamming now, I promise.

[2015-02-05 10:38] #64 closed

[2015-02-05 10:46] jonathanepollack commented on #64
This patch made it into `v0.4.5`.

[2015-02-19 13:34] kyoukhana opened #67 "Minify creates blank css file"
For some reason when i minify my css files they become blank any ideas as to why.  Here is my Gulpfile.js
[code]

[2015-02-19 13:44] shinnn commented on #67
First, you should `return` gulp.src stream in all tasks.

And [markdown syntax highlighting](https://help.github.com/articles/github-flavored-markdown/#syntax-highlighting) helps the maintainers to read your code.

[2015-02-19 13:48] shinnn commented on #67
AFAIK `gulp.dest` doesn't support support globbing pattern.

This is wrong.

[code]

[2015-02-19 13:51] shinnn commented on #67
According to the gulp API doc, The second argument of gulp.src must be an array, not a string. https://github.com/gulpjs/gulp/blob/master/docs/API.md#deps

[2015-02-19 13:51] kyoukhana commented on #67
Would this be correct?
[code]

[2015-02-19 13:53] shinnn commented on #67
[code]

[2015-02-19 13:58] kyoukhana commented on #67
The return did the trick.  Thanks for the help.

[2015-02-19 14:01] shinnn commented on #67
@jonathanepollack We should add `return` to the example script to prevent users from running into the problem like this.

https://github.com/jonathanepollack/gulp-minify-css/blob/7983f9ba0ec120ce1ed77ea54a97614d372eaba7/README.md#usage

[2015-02-19 14:34] #67 closed

[2015-02-24 15:28] iongion opened #70 "TypeError: Cannot read property '1' of null"
My gulpfile task looks like this:

[code]

I have no idea what this stacktrace means

[code]

[2015-02-24 15:39] shinnn commented on #70
Please update your task like this and try again:

`vendors/css/**/**` -> `vendors/css/**/**.css`

[2015-02-26 18:14] steveed commented on #70
I am having the same issue.

    gulp.task('styles', function() {
      return gulp.src(directories.css)
        .pipe(autoprefixer('last 2 versions', '> 1%', 'ie 8'))
        .pipe(concatCss("bundle.css"))
        .pipe(sourcemaps.init({loadMaps: true}))
        .pipe(minifyCSS())
        .pipe(sourcemaps.write('./'))
        .pipe(gulp.dest('public/css/'));
    });

Directories CSS is:

      cs

[2015-02-26 20:05] wavded commented on #70
I also am having the same issue.

[2015-02-26 20:13] iongion commented on #70
Back on this, shinnn recommendation fixed the issue, basically the css processor encounters invalid files in the stream. There is this nice tool https://www.npmjs.com/package/gulp-debug that you can use to see what streams minifyCSS receives, it might help you if you have a different issue.

I will close this as fixed, I guess it can be re-opened if you really find something else.

[2015-02-26 20:13] #70 closed

[2015-02-26 20:26] steveed commented on #70
Hmm, shinnn's recommendation did not fix the error for me. I did some debugging on my css files and found that it occurs whenever the parser encounters the following syntax

    .oneSelector .twoSelector:not(.otherSelector) { }

[2015-02-26 21:08] iongion commented on #70
digg deper and report it to the parser people if it is the case

Sent from my iPad

[2015-02-27 15:23] WRidder opened #71 "Error with 0.4.6 in extractor.js"
Using 0.4.6 I get the following error:

    /home/travis/build/WRidder/react-spa/node_modules/gulp-minify-css/node_modules/clean-css/lib/properties/extractor.js:47
    return name.replace(/^\-\w+\-/, '').match(/([a-z]+)/)[0];
                                                       ^
    TypeError: Cannot read property '0' of null

This error is not present in 0.4.5. Did not investigate further yet

[2015-02-27 15:28] shinnn commented on #71
Maybe duplicate of https://github.com/jakubpawlowicz/clean-css/issues/469

[2015-02-27 17:39] shinnn commented on #65
Any updates?

[2015-02-27 20:05] jakubpawlowicz commented on #71
I've just released 3.1.1 with the fix.

Please note you should not use `"clean-css": "^3.0.4"` in package.json, but rather something like `"clean-css": "~3.0.4"` and bump your minor version when upgrading dependencies. Otherwise people will suddenly start running into issues without a good reason - see http://semver.org/

[2015-02-27 20:34] #71 closed

[2015-02-27 21:12] shinnn commented on #71
@jakubpawlowicz

If you really think so, open issues on many other projects using `^` operators in their dependencies.

This is not a semver-related issue but just a clean-css-related issue.

[2015-03-01 18:49] dewald-laubscher commented on #65
@shinnn  Not on my side, I just removed the commented text entirely by enabling the option as per the specifications.

[2015-03-02 03:42] dustinhansen opened #72 "Error when using "safari 5" in autoprefixer browser list vs. "safari 6""
I'm running into an issue when trying to utilize gulp-sourcemaps, gulp-autoprefixer and gulp-minify-css together. Here's my gulp task:

var gulp = require('gulp'),
$ = require('gulp-load-plugins')();

gulp.task('test', function()
{
return gulp.src('app/assets/scss/main.scss')
.pipe($.sourcemaps.init())
.pipe($.sass({
includePaths: ['node_modules/bootstrap-sass/assets/stylesheets/'],
outputStyle: '

[2015-03-02 05:06] shinnn commented on #72
Which version of gulp-minify-css are you using?

[2015-03-02 06:43] shinnn commented on #72
I found the cause. It's just a duplicate of #71.

Re-installing gulp-minify-css fixes this problem.

[2015-03-02 06:43] #72 closed

[2015-03-02 11:50] ai opened #73 "Changelog"
@shinnn Without Changelog I didn’t knoww what is in 0.5.1 release and is it safe to update?

[2015-03-02 12:32] shinnn commented on #73
This project follows semver. There is no breaking changes between 0.5.0 and 0.5.1.

[2015-03-02 12:34] ai commented on #73
But what error was fixed?

[2015-03-02 12:41] shinnn commented on #73
Just a code refactoring.

[2015-03-02 12:48] ai commented on #73
Write it to `Changelog` file :)

[2015-03-09 14:50] jonathanepollack opened #74 "Move over to proper semver"
Perhaps we should bump this package to `v1.0.0` already, and treat minor and patch changes in the semver manner?

[2015-03-09 14:54] shinnn opened #75 "Remove `cache` option"
[The plugin guideline](https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md) says:

File caching is not a part of clean-css.

There are some better solutions for caching on gulp file system.

* [gulp-cache](https://github.com/jgable/gulp-cache/)
* [gulp-newer](https://github.com/tschaub/gulp-newer)
* [gulp-cached](https://github.com/wearefractal/gulp-cached)

[2015-03-09 14:54] shinnn opened #76 "Stream mode doesn't support Source Map"

[2015-03-09 14:55] shinnn commented on #74
@jonathanepollack

I think we should fix some issues before releasing the first major version. #75 #76

[2015-03-09 14:57] jonathanepollack commented on #74
Agreed. I just thought it'd be nice to put this on the roadmap. :-)

On Mon Mar 09 2015 at 9:55:19 AM Shinnosuke Watanabe <
notifications@github.com> wrote:

[2015-03-09 14:59] shinnn commented on #65
@dewald-laubscher  Sorry, I still can't understand what you said...

// @jonathanepollack

[2015-03-09 15:05] shinnn commented on #75
@jonathanepollack What do you think about this?

[2015-03-09 15:07] jonathanepollack commented on #75
I think you're right. It got rolled in a while ago due to convenience, but that was probably an oversight on my part.

[2015-03-09 15:43] #75 closed

[2015-03-09 15:43] #76 closed

[2015-03-09 15:50] shinnn commented on #76
Sorry I was confused. Basically, gulp-sourcemaps doesn't supports stream mode.

[2015-03-09 16:10] dewald-laubscher commented on #65
Sure thing...

When you have a stylesheet that starts with
[code]
If you do not add the option {keepSpecialComments: 0} of the minifyCSS function then your stylesheet compiles as follow.
[code]
The effect of this will cause the css to be commented out. Therefore you lose all your styles as they are falling in the same line as the comment open ( /* ) operator.

My gulp task in coffee looks like thi

[2015-03-09 16:27] shinnn commented on #65
@dewald-laubscher

I created a HTML to reproduce the problem, but I couldn't.

[code]

`*{border:none}` is parsed as valid CSS rule.

![image](https://cloud.githubusercontent.com/assets/1131567/6559181/6fac550e-c6c4-11e4-9f48-819b9e3ff66a.png)

[2015-03-09 16:29] shinnn commented on #65
@dewald-laubscher And you should read [*Regarding issues*](https://github.com/jonathanepollack/gulp-minify-css/tree/344938819bb3cecf73d16314a486a4e592403a81#regarding-issues) section in the README.

[2015-03-09 17:49] #65 closed

[2015-03-09 17:51] shinnn commented on #74
Both #75 and #76 are fixed. Now we can release :star: :star2: v1.0.0 :star2: :star:.

[2015-03-10 06:24] dewald-laubscher commented on #65
@shinnn  thanks will do that.

[2015-03-10 14:21] jonathanepollack commented on #74
:+1: :+1: :+1: :+1:

[2015-03-10 14:22] jonathanepollack commented on #74
Do you want to do the honours?

[2015-03-10 14:27] shinnn commented on #74
:ok:

[2015-03-10 19:58] ai commented on #73
You released major `1.0.0` and still doesn’t have ChangeLog. Maybe I can help you? It is very important to have ChangeLog to every open surce project.

[2015-03-12 09:08] #74 closed

[2015-03-12 09:10] jonathanepollack commented on #73
Not certain how important this is, for this project--as this project is just a wrapper around `clean-css`, it's API should only really change to deal with the `gulp` architecture--following what's changing should be fairly easy by reading the commit messages.

[2015-03-12 09:46] ai commented on #73
Having a Changelog is a industry standard:

http://keepachangelog.com/
http://marcgg.com/blog/2013/03/25/please-changelog-open-source/

`git log` is a bad format, because it contains many irrelevant to API changes commits.

[2015-03-12 09:48] jonathanepollack commented on #73
fair enough.

Would you like to create a change log for us, then?

[2015-03-12 09:49] ai commented on #73
I can create some examples file to show format, but I didn't understand even changes in 1.0.0.

[2015-03-12 10:38] jonathanepollack commented on #73
That's fine. The links you dropped are pretty informative, no need to bother.

[2015-03-12 11:14] #73 closed

[2015-03-13 03:26] hellier opened #77 "combining properties into their shorthand"
Would be great if you could incorporate https://github.com/frankmarineau/shrthnd.js

Input:

    body {
	font-size: 1em;
	line-height: 1.2em;
	font-family: Helvetica;
	font-weight: 300;
	font-style: italic;
    }

Output:

    body {
      font: italic 300 1em/1.2em Helvetica;
    }

[2015-03-13 03:29] shinnn commented on #77
https://github.com/jonathanepollack/gulp-minify-css/issues/65#issuecomment-77888721

[2015-03-13 03:29] #77 closed

[2015-03-13 07:13] AMAID opened #78 "Bug about background"
input:
`background:url("foo") top center`
output:
`background:url("foo")top center`

Missing a space between the "url" and other attributes.
This causes the background does not take effect when working on IE8(and blow)

[2015-03-13 07:17] AMAID commented on #78
Sorry, I got it.My fault.

[2015-03-13 07:19] #78 closed

[2015-03-13 08:27] hellier commented on #65
You've referenced the above thread, but I can't see any relation to it? Combining properties into their shorthand, and this thread, that is.

[2015-03-13 08:29] dewald-laubscher commented on #65
He means to say "And, please read Regarding issues section of the README."

[2015-03-14 18:57] kiki-le-singe commented on #61
{processImport: false} works for me to, thanks!

[2015-03-17 20:01] erkanunluturk opened #79 "gulp-minify-css confusion"
gulpfile.js :

[code]

normalize.styl

[code]

RESULT :

[code]

Mingled :)

[2015-03-17 22:05] shinnn commented on #79
What output do you expect?

[2015-03-17 22:19] shinnn commented on #79
I don't know what you really mean by "Mingled :)", but you can set clean-css [options](https://github.com/jakubpawlowicz/clean-css/blob/0f124d6fb1b80966bd78c31e617a507e39b7deb5/README.md#how-to-use-clean-css-programmatically) and change the result as you expected.

[code]

Maybe `advanced` option and `aggressiveMerging` option help you if you don't want to "mingle" the CSS rules together.

Thanks.

[2015-03-17 22:19] #79 closed

[2015-03-17 22:28] shinnn commented on #79
By the way, using [normalize.css](https://necolas.github.io/normalize.css/) inside CSS preprocessor is anti-pattern.

According to [the readme of normalize.css](https://github.com/necolas/normalize.css/tree/0c31dada5189a577f16fc61cbd8680e7f35bcca3#install):

[2015-03-17 22:44] erkanunluturk commented on #79
Thanks, ``restructuring:false``

[2015-03-17 22:47] shinnn commented on #79
Oh, I overlooked `restructuring` option.

[2015-03-23 16:21] digisavvy opened #80 "+ aSource + '" is not in the SourceMap"
I'm using gulp-sass and just a "few" other packages. I get this error when trying to use gulp-sourcemaps. I run gulp and my styles task errors out. I tried disabling autoprefixer and that doesn't work. As for the note about prefixer.scss not being in the sourcemap that's odd, because the file is present, I'm just not clear on exactly what's going on and hoping someone can shed some light here for

[2015-03-23 21:49] shinnn commented on #80
Can you create a small repository that can reproduce the error?

[2015-03-25 10:16] think2011 commented on #78
Hi, what should I do? @AMAID

[2015-03-25 10:20] AMAID commented on #78
@think2011 readme里有个参数 兼容IE7、8的 一开始没看到 你去找找

[2015-03-25 10:53] think2011 commented on #78
@AMAID 谢谢哈！

[2015-03-27 05:50] tkaw220 opened #81 "mergeMedia from clean-css not working"
Is this gulp plugin support the mergeMedia from clean-css?

[2015-03-27 05:58] shinnn commented on #81
Could you elaborate on "not working"?

[2015-03-27 11:37] shinnn commented on #81
gulp-minify-css and clean-css produce exactly the same output.

This assertion script works with no errors.

[code]

[2015-03-27 11:37] #81 closed

[2015-03-27 12:07] shinnn commented on #80
OK I found [the repo](https://github.com/digisavvy/some-like-it-neat) you're working on but I couldn't reproduce the error.

[code]

[2015-03-27 12:07] #80 closed

[2015-03-28 08:59] erkanunluturk opened #82 "*:before and *:after not writing"
## *:before and *:after not writing

[code]
[code]

[code]

[2015-03-28 09:14] shinnn commented on #82
https://github.com/jonathanepollack/gulp-minify-css/issues/77#issuecomment-78774756

[2015-03-28 09:14] #82 closed

[2015-03-28 09:26] erkanunluturk commented on #82
thank you

https://github.com/jakubpawlowicz/clean-css/issues/506

[2015-04-09 19:30] rkichenama opened #83 "breaking sourcemaps?"
When I attempt to concatenate files before minifying, with sourcemaps, I get an error in gulp-sourcemaps.

TypeError: Cannot read property 'line' of undefined
    at originalPositionIn

[code]

This error only occurs when minifyCss is in the pipe chain. Does minify-css not accept streams?

[2015-04-09 19:45] shinnn commented on #83
Can you create a small repository that can reproduce the error?

[2015-04-10 13:29] rkichenama commented on #83
I found through more testing that minify-css might have been trying to create its own sourcemaps by default. I added the {sourceMaps: false} parameter to the call and was able to get the minification with no issue.

[code]

[2015-04-10 13:29] #83 closed

[2015-04-11 02:54] youanden commented on #80
I had a similar issue trying to implement the gulp asset pipeline into ruby on rails.

My config looked like this:
[code]

I first removed autoprefixer and that worked. Then I tried the following (making sure autoprefixer ran before sourcemaps were written):

[code]

This resulted in the ever-pleasing:
[code]

I see that you're running sourcemaps twice. I'm no expert, so I'm not sure if that confi

[2015-04-11 08:16] shinnn commented on #80
@youanden Here is [gulp-minify-css](https://github.com/jonathanepollack/gulp-minify-css) repo.

[2015-04-13 10:26] outpunk opened #84 "Set advanced and aggresive optimization to false by default."
These optimizations are not safe, it would be better to turn them off by default. For example, it can break flexbox.

The desired CSS: we have `display: flex` as a result.
![](http://img.madyankin.name/Bo2Ta.png)

The minified CSS: we have `display: -webkit-box` as a result.
![](http://img.madyankin.name/P7uNq.png)

[2015-04-13 10:36] shinnn commented on #84
I cannot reproduce the problem.

[code]

Seems to be an issue with other plugin(s).

[2015-04-13 10:36] #84 closed

[2015-04-13 10:41] shinnn commented on #84
And, please read [*Regarding issues*](https://github.com/jonathanepollack/gulp-minify-css/tree/344938819bb3cecf73d16314a486a4e592403a81#regarding-issues) section of the README.

[2015-04-13 17:01] joshmedeski opened #85 "IE Bug ".4" needs to be "0.4""
I'm faced with a IE bug

[code]

The '.4' value needs to be '0.4' to work in IE. Is there a setting to keep this data in place after minifying the file?

[2015-04-13 17:02] shinnn commented on #85
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-04-13 17:02] #85 closed

[2015-04-13 17:09] shinnn commented on #78
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-04-13 23:56] shinnn commented on #81
And, https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-04-20 11:11] mikkotikkanen opened #86 "Option to remove imported files"
If you are running master css file which is just split with imports, it would be nice to have r.js styled removing of the imported files

__master.css__
[code]
__buttons.css__
[code]

Would then become...

__master.css__
[code]

...with `buttons.css` removed.

If file is not imported anywhere, it would be just minified as usual.

[2015-04-20 11:14] mikkotikkanen commented on #86
Actually, now that I think of it, this is probably `clean-css` related. Reopened there.

[2015-04-20 11:28] mikkotikkanen commented on #86
Or actually is it? Since the file needs to be removed from gulp stream, so the clean-css optimization doesn't help.

[2015-04-20 13:41] noonhorse opened #87 "I have a suggestion for ‘compatibility’ Configuration"
Not long ago, I use gulp to do the construction of compression, delete the default ie6-8 hack css,
Back to see the need to separately add ie comments

[2015-04-20 14:39] shinnn commented on #87
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

I don't want gulp-minify-css to have different defaults from clean-css's.

[2015-04-20 14:39] #87 closed

[2015-04-20 15:02] shinnn commented on #86
gulp uses Stream (as you said), so there is no way to remove previously passed files. Removing imported files can be implemented for only synchronous build tools.

Remove imported files from the glob pattern by yourself.

[2015-04-20 15:02] #86 closed

[2015-04-21 19:38] mikkotikkanen commented on #86
Removing with a glob isn't really an option since you don't know what files have been merged. Fe. IE fixes usually are included conditionally etc.

[2015-04-23 16:00] jayschab opened #89 "Issue with sourcemap sources paths with relative files and base"
Hi there.

There seem to be many doubts and issues related to `gulp-sass` and sourcemaps in longer pipelines. So let me preface by saying I hope I'm not adding to the confusion :smile:

My problem is getting sourcemaps to work with `gulp-sass` and this plugin. Here is my gulp file:

[code]

So `base` ends up being `./gulp/assets/stylesheets` and `topLevelFiles` paths like `./gulp/assets/stylesheet

[2015-04-23 23:59] shinnn commented on #89
Hmm, I downloaded [your fork](https://github.com/jonathanepollack/gulp-minify-css/commit/2fe69937871a061f596a2cee2144ee75861370c5) and ran the test (`mocha`), but it failed.

[2015-04-24 20:49] AlexanderOMara opened #90 "keepSpecialComments: 1 fails when using gulp-sourcemaps"
This is probably an edge-case issue, but when using [gulp-sourcemaps](https://github.com/floridoo/gulp-sourcemaps) the option `keepSpecialComments: 1` fails to behave as expected, and instead it behaves the same as the default `keepSpecialComments: '*'`.

Here is a reproducible test case:

**test.css**
[code]

**gulpfile.js**
[code]

`$ gulp css` result `min/test.css`:
[code]
(works as expected)

[2015-04-24 23:03] shinnn commented on #90
This seems an issue with [the upstream project](https://github.com/jakubpawlowicz/clean-css) and should be fixed there. I opened https://github.com/jakubpawlowicz/clean-css/issues/549.

Thanks for your detailed report.

[2015-04-24 23:03] #90 closed

[2015-04-25 04:05] littledu opened #91 "bug about background-size"
my code:
[code]

output:
[code]

why?

[2015-04-25 04:35] shinnn commented on #91
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-04-25 04:35] #91 closed

[2015-04-28 20:30] the-simian opened #93 "processImport flag default of true results in timeout"
An example error:
[code]

I can get around this by setting the processImport flag, to false. I notice on the css-min repository, they state a callback is necessary to make remote process imports work correctly. Aside from simply turning off `processImport`, is there a more elegant or correct way to fix this?
Can you change the timoute or provide a callback via this gulp interface?
Is simply settin

[2015-04-28 23:03] shinnn commented on #93
I cannot reproduce the error.

[code]

Could you run these commands and show us the result?

[code]

[2015-04-29 04:23] AlexanderOMara commented on #89
This looks like it's the same issue I'm having. It appears gulp-minify-css is changing the paths when it comes after another plugin in the sourcemap chain. Here is a test case using autoprefix, but the same thing happens with other plugins.

**gulpfile.js**
[code]

**src/css/main.css**
[code]

If we run `$ gulp`, we get the following `.map` files.

**css/main.css.map**
[code]

**css-prefix/main.cs

[2015-04-29 05:40] shinnn commented on #89
Thanks, @AlexanderOMara.

I think this solves the problem. What do you think?

[code]

[2015-04-29 15:32] AlexanderOMara commented on #89
@shinnn That solves the path issue, but I just noticed there is another issue, which this almost solves.

If we look at `css-prefix/main.css.map` from above, this issue causes `sourcesContent` to be null
[code]

With this patch, the test case above is fixed, and `css-prefix/main.css.map` now looks like this.

[code]

Unfortunately, the same cannot be said for gulp-less.

**gulpfile.js**

[code]

*

[2015-04-29 21:53] the-simian commented on #93
node version: 0.10.33
npm: 2.3.0
gulp-minify-css : 1.1.0

[2015-04-29 22:20] shinnn commented on #93
You're using too older node. Though it's not directly related to this issue, I recommend updating node to v0.12.2.

https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977 Contact the author of [clean-css](https://github.com/jakubpawlowicz/clean-css) for `timeout` option if you want. Currently clean-css doesn't support it.

Use Stream's `.on` method instead.

[2015-04-29 22:20] #93 closed

[2015-05-01 10:28] Lefthandmedia commented on #80
I'm getting the same error. the file that is not  'In the SourceMap' is a symlink on OSX.
Could that be the reason? and can it be fixed?

[2015-05-01 10:29] shinnn commented on #80
@Lefthandmedia Can you create a small repository that can reproduce the error?

[2015-05-01 20:41] tjwebb opened #94 ""inherit" values are getting mangled"
When running my css through gulp-minify-css, some my css is getting corrupted. I end up with this:

[code]

The original values are:

[code]

Everything else seems to work fine.

[2015-05-01 20:55] ericcholis commented on #94
I've also experienced this, downgrading to 1.0.x or 0.5.x didn't fix the issue.

[2015-05-01 21:12] shinnn commented on #94
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-05-01 21:12] #94 closed

[2015-05-01 23:21] clempat commented on #89
I get the same issue for the path either with the solution of @shinnn when file.relative should be set ?

[2015-05-02 17:45] ddprrt commented on #89
Wondering if this might be an issue with [CleanCSS](https://github.com/jakubpawlowicz/clean-css)

[2015-05-02 23:03] clempat commented on #89
I will take a look deeper tomorrow. I am wondering if it is connected to the root defined which give the relative path back... If u had the path of the css as root like `fileOptions.root = options.relativeTo || path.resolve(path.dirname(file.path));` Only one test fails... Concerning stylus but as I never use stylus I dont know why it triggers a problem...

[2015-05-03 00:48] shinnn commented on #89
Maybe I found a solution. https://github.com/jonathanepollack/gulp-minify-css/commit/f1758cfe1993c46acd69f68b2e67728ca7496729

@AlexanderOMara @clempat @ddprrt Could you try the current `master`?

[code]

[2015-05-03 01:59] AlexanderOMara commented on #89
Looks fixed to me.

[2015-05-03 03:18] #89 closed

[2015-05-03 03:22] shinnn commented on #89
Fixed in v1.1.1.

@jayschab @AlexanderOMara @clempat Thanks for your awesome feedback.

[2015-05-03 07:27] clempat commented on #89
Hi sorry, European time ^^... But yeah thanks, the test I wrote for my case pass now ^^... Here was the test: https://github.com/jonathanepollack/gulp-minify-css/compare/master...clempat:master

Thank you...

[2015-05-03 12:07] shinnn commented on #86
No. At least I know what files should be merged in my apps :) Can you show me an example case where we can't see the imported files easily?

[2015-05-06 20:27] keeth opened #95 "Relative paths rebased incorrectly in v1.1.1"
v.1.1.1 (specifically f1758cf / fix for #89) just broke my site unfortunately.  I have a layout like:

assets/styles/icomoon.css
assets/fonts/icomoon.ttf

and icomoon.css has URLs like url('../fonts/icomoon.ttf')

In 1.1.0, my minified CSS had the above relative URL preserved.
In 1.1.1 it is rebased to url('styles/fonts/icomoon.ttf') which does not exist.

For context, I added the following log st

[2015-05-07 00:02] psirenny commented on #95
I'm having the same issue. The target is set to the folder the css file is processed in but not necessarily output to.

[2015-05-07 03:38] shinnn commented on #95
Thanks for reporting.

I found a bug in [the upstream project](https://github.com/jakubpawlowicz/clean-css) so I'll open a new issue about it there.

[2015-05-10 03:53] gdipkf1986 opened #96 "when run with gulp it says Cannot find module 'ansi-css'"
Could you please tell how to solve this problem? I even can not find any usefull information from google.

[2015-05-10 03:58] shinnn commented on #96
[code]

It's not related to this plugin.

[2015-05-10 03:58] #96 closed

[2015-05-12 09:32] mikkotikkanen commented on #86
Technically yes, you know what files SHOULD be concatenated but then you are creating a case where you have a list of files that is managed manually (and people always make mistakes), which is hardly optimal case when automation is also a possibility. Especially with larger teams and new people coming in. Fe. when you have ie fix css files, that are imported conditionally. Or admin css files etc.

[2015-05-13 00:12] shinnn commented on #86
@mikkotikkanen You can use [gulp-ignore](https://github.com/robrich/gulp-ignore#api).

[code]

[2015-05-13 01:22] sjmcpherso opened #97 "Compiled CSS included in Sources gulp-sourcemap list"
Hi, I wasnt exactly sure where to post this but the issue occurs when using a combination of gulp-sourcemaps, gulp-less & gulp-minify-css whereby the compiled CSS is listed in the source map i.e. {"version":3,"sources":["../generic/jquery.jqzoom.less","compiled.css","theme.less","../generic/jquery.fancybox.less"...

If I remove the MinifyCss function the compiled.css file is not included in the so

[2015-05-13 04:55] shinnn commented on #97
Can you create a small repository that can reproduce the problem?

[2015-05-13 06:56] sjmcpherso commented on #97
In the process of creating a repository for you I found what was causing the issue, it was a open comment in a less files that I was including below and then a catch all CSS selector in another less file

/*********************************************************
Comment
/*********************************************************/

*{box-sizing: border-box;}

I've added a repository if you wish to

[2015-05-13 07:20] #97 closed

[2015-05-13 14:04] mikkotikkanen commented on #86
Yeah but how do I know which files got concatenated by _minify-css_ in order not to output the concatenated files to dest.

[2015-05-13 14:29] shinnn commented on #86
* [import-regex](https://github.com/kevva/import-regex)
* [get-imports](https://www.npmjs.com/package/get-imports)

[2015-05-13 16:34] mikkotikkanen commented on #86
That's not really a solution, since the logic on those might be completely different how they handle different edge cases compared to minify-css, thus leading to hard to track edge cases on larger projects. One would need to replicate the exact same logic that the minify-css uses under the hood and maintain that as it's updating. :/

[2015-05-13 16:46] shinnn commented on #86
At least this plugin is not in charge of that.

According to [the plugin guidelines](https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/guidelines.md):

I hope you create an awesome plugin that fully meets your requirements.

[2015-05-13 23:58] priley86 opened #98 "font-face rule with quotes"
Something seems to have changed between 1.0.0 and 1.1.1 with the way font-face rules get minified. I have the following rule:

[code]
This will minify correctly in 1.0.0 with the single quotes included, '../fonts/UniversLTStd-LightCn.svg#Univers Cn Lt', but in 1.1.0 this compiles without quotes and causes a font load failure.

Is there some arg to prevent this?

[2015-05-14 00:40] shinnn commented on #98
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

[2015-05-14 00:40] #98 closed

[2015-05-14 06:36] yomotsu opened #99 "IE8 does not read compressed background property"
gulp-minify-css will remove necessary space after url() function in CSS. like
[code]

it should be

[code]
otherwise, IE8 does not read whole background property

[2015-05-14 10:18] tomaszstrzelec87 commented on #99
You have to use the parameter 'compatibility' with value 'ie8'.

var minifyCss = require('gulp-minify-css'),
minifyCss({compatibility: 'ie8'})

[2015-05-14 13:20] shinnn commented on #99
@tomaszstrzelec87 is right.

I always reply just like https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977 when I receive the [clean-css](https://github.com/jakubpawlowicz/clean-css) issue in this project. We'd be very happy if you could read at least the top of README before opening new issues.

However, thanks you for trying to contribute the open source project, @

[2015-05-14 13:20] #99 closed

[2015-05-19 08:04] AnnVoV opened #101 "css hack not work"
Hi~
    if I use * or unquote('30% 25%\0') in styl, it will not work well after I use gulp-minify-css
   and if I use minifycss({compatibility: 'ie8'}  it can only preserve * ,but it can't preserve \0

[2015-05-19 09:34] shinnn commented on #101
https://github.com/jonathanepollack/gulp-minify-css/issues/82#issuecomment-87196977

Thanks for trying to contribute the open source project though.

[2015-05-19 09:34] #101 closed

[2015-05-20 19:48] abishekrsrikaanth opened #103 "BUG: skip-import setting of clean-css doesn't seem to ignore @import declaration"
I seem to be getting frequent errors when the plugin reaches an `@import` declaration.

*Error*
[code]

So based on the [Clean-CSS](https://github.com/jakubpawlowicz/clean-css) documentation, I used `--skip-import` setting when calling `minifycss()` function.

`.pipe(minifycss({skip_import: true}))`

when running gulp tasks I still am getting this errors.

[2015-05-20 19:52] abishekrsrikaanth commented on #103
nvm, it was a typo error.

[2015-05-20 19:52] #103 closed

[2015-05-23 10:09] saralkochar commented on #95
+1 for this issue.

[2015-05-23 11:38] shinnn commented on #95
I'll update this plugin and release a new version after https://github.com/jakubpawlowicz/clean-css/issues/580 is fixed and clean-css v3.3.0 is released.

[2015-05-23 11:44] shinnn commented on #95
FYI you can use a more stable CSS minifier [gulp-cssnano](https://github.com/ben-eb/gulp-cssnano).

[2015-05-26 20:43] Laykou commented on #80
Hi, I would like to report the same error for *.js file. I get the error on Ubuntu 14.04 however on Windows 7 it works normally without any error. I'm sorry, I cannot share the repo, since it's private and commercial project, but maybe the info about Linux and Windows will help.

My error:

[code]

[2015-05-27 06:31] shinnn commented on #80
@Laykou That's not related to this project gulp-minify-css, I think.

[2015-05-27 12:47] herrbischoff opened #104 "keepSpecialComments does not work at all"
**Note:** This is a re-post of an issue I raised in the `clean-css` repo [here](https://github.com/jakubpawlowicz/clean-css/issues/584).

I'm using clean-css within a `gulp` workflow (via `gulp-cssmin`) but the `keepSpecialComments` option is not honored. By default, all special comments should be preserved but instead they are stripped. If I run it with an additional option, this additional optio

[2015-05-27 15:18] shinnn commented on #104
[code]

gulp-minify-css produces exactly the same result as https://github.com/jakubpawlowicz/clean-css/issues/584#issuecomment-105808077.

Additionaly,

1. Please do not report gulp-cssmin issues here. This plugin is *gulp-minify-css*.
2. You should not use gulp-cssmin since it's blacklisted. https://github.com/gulpjs/plugins/blob/8b21964fd6b794c47ec93c82c2df38cf52c53c5c/src/blackList.json#L76

[2015-05-27 15:21] #104 closed

[2015-05-27 15:28] herrbischoff commented on #104
My bad, I did not change cssmin to gulp-minify-css in my issue report. However, the result is exactly the same as described above. Here's a more complete excerpt from my `gulpfile`:

[code]

[2015-05-27 15:31] shinnn commented on #104
@herrbischoff, https://github.com/jakubpawlowicz/clean-css/issues/584#issuecomment-105955540

[2015-05-27 15:40] shinnn commented on #104
[code]

In this small example both `keepBreaks` and `keepSpecialComments` works correctly.

[2015-05-27 15:51] herrbischoff commented on #104
That may be, but does the above `gulpfile` example work for you? My main gripe is that even if I do the basic

[code]

all special comments get stripped away.

[2015-05-27 16:04] shinnn commented on #104
Ah, OK I found the cause. Stylus changes all special comments to normal comments and you can see how to fix it here: https://github.com/stylus/stylus/issues/1763

[2015-05-27 16:09] herrbischoff commented on #104
Phew. Thanks a lot for taking the time to dig through Stylus issues! I tried the solution you linked to and it works beautifully. And again it shows how a single missing char can break everything.

[2015-05-27 16:12] shinnn commented on #104
Now you can close https://github.com/jakubpawlowicz/clean-css/issues/584 since that's not actually related to clean-css :)

[2015-05-27 16:18] herrbischoff commented on #104
Done and done. :) Thanks again. This was driving me nuts.

[2015-06-01 04:50] shinnn commented on #95
https://github.com/jakubpawlowicz/clean-css/issues/580 has been fixed. Still waiting for clean-css v3.3.0 on npm. https://github.com/jakubpawlowicz/clean-css/commit/6eb27badc0321066d085ff41c7e5f8ad73fba3e7#commitcomment-11446875

[2015-06-02 03:45] #95 closed

[2015-06-02 03:52] saralkochar commented on #95
You guys are brilliant. I'll test it later today on our environment and will keep you posted if we come across anything unusual.
Besides, just want to write and say thank-you for the resource. We are a statup and such resources are amazing for us. Hopefully if we get funded, we will make sure to give back tot he community.

Warmest Regards,
Saral

CEO
Techpacker.com

On 2 Jun, 2015, at 11:45 am, S

[2015-06-02 14:29] hugw opened #105 "Relative paths"
After updating to 1.1.4 all my relative paths are getting converted to absolute. Is there anyway to keep it relative?

Before 1.1.4:

- file.css: ...src: url("../vendor/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.eot")...
- file.min.css: ...src: url("../vendor/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.eot")...

After 1.1.4:

- file.css: ...src: url("../vendor/bootstrap/font

[2015-06-02 14:48] mattlewis92 commented on #105
The exact same issue just broke all our production apps fonts from working :(

If you sent rebase to false in the options then it fixes the problem.

[2015-06-02 14:50] shinnn commented on #105
I cannot reproduce your "After 1.1.4" result with gulp-minify-css v1.1.4.

## Test script

[code]

## Output

[code]

It's just like your "Before 1.1.4" result.

[2015-06-02 14:54] creage commented on #105
I double that issue! I just wonder how, and why, paths are ever touched by minifier?

[2015-06-02 14:56] shinnn commented on #105
Small code that can reproduce the problem is very welcome.

[2015-06-02 15:00] shinnn commented on #105
@hugw

`app/assets/vendor/bootstrap/fonts/bootstrap/glyphicons-halflings.eot` is not an absolute path.

[2015-06-02 15:06] hugw commented on #105
As @mattlewis92 suggested, after adding rebase: false, everything is now working again. Thanks!

[code]

[2015-06-02 15:07] creage commented on #105
@shinnn
I have a jQueryUI lib in my sources. Its styles are located under the /sources/style/*.css, and images are relative to the /sources/style/images/*.png. In the CSS code looks like this:

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
}

but after build, paths are translated into url("sour

[2015-06-02 15:08] mattlewis92 commented on #105
@shinn it's to do with the path in the vinyl object.

Test script:
[code]

1.1.3 output:
[code]

1.1.4 output:
[code]

[2015-06-02 15:36] declanelcocks commented on #105
I also just came across this same error on font faces. After reverting back to v1.1.3 it is successfully working. My file structure is as follows:

[code]

In style css I simply reference the fonts as `../fonts/font.ttf`

Using this gulp function:

[code]

After running this, the output in `style.min.css` is `assets/fonts/font.ttf`, so when this is ran on the website it actually tried to load a fo

[2015-06-02 15:42] shinnn commented on #105
OK, I confirmed the problem and found a solution. Please wait for the next release.

[2015-06-02 16:01] hugw commented on #105
Thanks @shinnn.

[2015-06-02 16:03] #105 closed

[2015-06-02 16:06] shinnn commented on #105
@hugw @mattlewis92 @creage Could you check if the current `master` works correctly in the real-life usage?

[code]

[2015-06-02 16:09] mattlewis92 commented on #105
@shinn just tested it and it's working great, thanks!

[2015-06-02 16:13] hugw commented on #105
@shinnn just tested here too, perfect. Ty!

[2015-06-02 16:13] shinnn commented on #105
OK, I'll release v1.1.5 soon.

@hugw @mattlewis92 @creage @declanelcocks Thanks for reporting. You saved a lot of web developers :)

[2015-06-02 16:18] shinnn commented on #105
Done. https://github.com/murphydanger/gulp-minify-css/commit/97503af4d907a4630c3f5bc0673efab3162acfc5

[2015-06-02 22:03] mik-laj commented on #80
@shinnn
I also have a problem.
I created a small project, that can reproduce the error :-)
https://github.com/mik-laj/gulp-minify-css-error
To init project
``bower install
sudo npm install
``

[2015-06-03 01:38] declanelcocks commented on #105
Excellent, thanks @shinnn !

[2015-06-14 11:44] jakubpawlowicz opened #106 "Support a custom root path for output source map"
Please see https://github.com/jakubpawlowicz/clean-css/issues/594

The thing is clean-css does not handle writing either the source map file or `/*# sourceMappingURL=... */` token, so it cannot control where it ends up neither the path.

I'm not familiar how gulp plugin does it or even if it's its responsibility.

[2015-06-14 18:32] shinnn commented on #106
Not a gulp-minify-css issue. The [`sourceRoot`](https://github.com/floridoo/gulp-sourcemaps#write-options) option of [gulp-sourcemap](https://github.com/floridoo/gulp-sourcemaps) would help you.

[2015-06-14 18:32] #106 closed

[2015-06-15 05:01] jakubpawlowicz commented on #106
Thanks @shinnn, wasn't aware of it!

[2015-06-15 09:33] StuartMorris0 commented on #106
Thanks, I have tried that but it doesn't appear to work as expected. I created an issue with gulp-sourcemap anyhow as I think the question needs to be aimed there. Thanks @jakubpawlowicz and @shinnn

[2015-06-15 09:43] jakubpawlowicz commented on #106
:+1: good luck tracking it down!

[2015-06-18 11:49] adam-lynch opened #107 "Breaks custom protocol"
A recent update has broken some of my CSS. This:

[code]

Get changed to this:

[code]

[2015-06-18 11:55] adam-lynch commented on #107
Just checked... fine with 1.1.0, broken with 1.1.1

[2015-06-18 12:03] shinnn commented on #107
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

Thanks for trying to contribute to this project though.

[2015-06-18 12:03] #107 closed

[2015-06-18 12:05] adam-lynch commented on #107
Bah... I should know better. Thanks. https://github.com/jakubpawlowicz/clean-css/issues/608

[2015-06-18 12:11] adam-lynch commented on #107
Both 1.1.0 and 1.1.1 seem to pull down clean-css@3.3.3. Are you sure it couldn't be anything in this module yeah?

[2015-06-18 12:19] shinnn commented on #107
Sorry I cannot understand what are you asking me. Do you know what a caret semver operator (`^`) means?

[2015-06-18 12:34] adam-lynch commented on #107
Both would install clean-css@3.3.3, right? So now I'm thinking it's not
clean-css's fault.

On Thu, 18 Jun 2015 13:19 Shinnosuke Watanabe <notifications@github.com>
wrote:

[2015-06-18 12:40] shinnn commented on #107
Definitely yes, and there's no problem with it. The package version bump of the gulp plugin doesn't always include dependency updates. We released v1.1.1 to fix https://github.com/murphydanger/gulp-minify-css/issues/89, not for clean-css version bump.

[2015-06-18 13:38] adam-lynch commented on #107
Could you please try https://github.com/adam-lynch/gulp-minify-css-investigation? I'm still seeing it and after comparing the directories, the only real difference seems to be this module's `index.js`.

[2015-06-18 14:01] shinnn commented on #107
@adam-lynch I found the root cause. https://github.com/jakubpawlowicz/clean-css/issues/608#issuecomment-113165051 That is why v1.1.0 works fine for you but v1.1.0 doesn't. Thanks for the detailed report and the example repo.

[2015-06-18 14:09] adam-lynch commented on #107
:+1:

[2015-06-18 15:20] Fetz opened #108 "after v0.4.2 gulp-minify-css is removing too much"
before minification
[code]

after minification
[code]

[2015-06-18 15:24] shinnn commented on #108
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-06-18 15:24] #108 closed

[2015-06-23 18:28] LukeMauldin opened #109 "Error when using with gulp-less"
I get this error when using with the less plugin:
[code]

gulpfile
[code]

[2015-06-23 18:32] LukeMauldin commented on #109
Nevermind, I should have used a pipe() instead of a plugin command.

[2015-06-23 18:32] #109 closed

[2015-06-25 22:16] arasmussen opened #110 "Crash on "Broken @import declaration""
If I add a bad import to my CSS file, gulp-minify-css crashes with "Error: Broken @import declaration of...". I have an error handler on the stream, why doesn't it emit an error event instead of crashing the script?

[2015-06-25 22:19] arasmussen commented on #110
BTW looks like that error message is coming from clean-css/lib/imports/inliner.js so I'm guessing CleanCSS errors are not properly being piped into stream.emit('error').

[2015-06-25 22:20] arasmussen commented on #110
Though judging by index.js, it looks like they are. Maybe this is a problem with CleanCSS rather than gulp-minify-css.

[2015-06-25 22:22] arasmussen commented on #110
Nevermind, npm update fixed this. Sorry for the thrash.

[2015-06-25 22:22] #110 closed

[2015-06-26 04:44] tedw opened #111 "Update to clean-css 3.3.4"
Can you please upgrade to clean-css 3.3.4?
https://github.com/jakubpawlowicz/clean-css/releases/tag/v3.3.4

That will fix this issue with the properties.urlQuotes option https://github.com/jakubpawlowicz/clean-css/issues/611

Thanks!

[2015-06-26 04:50] tedw commented on #111
Also, can you please confirm this is the correct syntax when using as a library?

[code]

Thanks much!

[2015-06-26 09:21] shinnn commented on #111
https://github.com/murphydanger/gulp-minify-css/pull/88#issuecomment-94568277

[2015-06-26 09:21] #111 closed

[2015-06-26 13:29] tedw commented on #111
My mistake, didn't notice the caret. Sorry!

[2015-06-26 13:50] shinnn commented on #111
No problem!

[2015-07-04 22:36] depiction commented on #80
I'm also experiencing the same issue; not sure why this was closed.

[2015-07-17 11:34] mlarcher opened #113 "sourcemap not playing well with others"
It seems there is an issue with sourcemaps when using other plugins. I reduced the testcase to a basic version, for which I get no error but a sourcemap that does map incorrectly to the source assets :

[code]

When exploring in Chrome devTools, I see mostly rules coming from the .css, and a few rules supposedly coming from one of the .scss, but there is an obvious mismatch (there is no such rule

[2015-07-18 05:35] shinnn commented on #113
@mlarcher Can you show us a small SCSS file that can reproduce this problem?

[2015-07-20 11:04] shinnn commented on #113
No feedback.

[2015-07-20 17:32] mlarcher commented on #113
This is a bit fast, don't you think? I'll get back to you with a test case as soon as  I can.

[2015-07-23 19:44] AndrewEastwood commented on #103
so, how to solve this?

[2015-07-23 19:50] shinnn commented on #103
@AndrewEastwood https://github.com/murphydanger/gulp-minify-css/issues/8#issuecomment-37887694

[2015-07-25 06:12] shinnn commented on #113
@mlarcher Any updates?

[2015-07-25 14:25] mlarcher commented on #113
I'll try to set up a test case this weekend

[2015-07-26 16:35] mlarcher commented on #113
@shinnn, I didn't have time to setup a test case, and won't be able to do so in a close future. Seeing how eager you are to close the issue, I thought you'd better be informed about it. At least you know something's wrong. What action you take on the matter is entirely up to you. Thanks anyhow for providing the community with this interesting plugin.

[2015-07-26 18:32] shinnn commented on #113
In your first comment:

That means at least you have a SCSS file that results unexpected output. So, as I commented here https://github.com/murphydanger/gulp-minify-css/issues/113#issuecomment-122485286, I'd like you to provide us a small SCSS file that can reproduce this problem.

I don't ask you for a complicated test case. if you show us only one single SCSS file, I'll test it by myself and I'l

[2015-07-29 23:56] superbiche opened #114 "Wrongly translating a font name with a color"
Given the following CSS :
<code>
.HomePage-videoCaption-title {
  font-family: 'Archivo Black', Arial Black, Arial Bold, Gadget, sans-serif; }
</code>

The minified CSS is as following:
<code>
.HomePage-videoCaption-title{font-family:'Archivo Black',Arial #000,Arial Bold,Gadget,sans-serif}
</code>

minify-css is translating part of the font name with its hex color equivalent.

https://github.com/j

[2015-07-30 07:53] shinnn commented on #114
Confirmed.

You can submit a pull request to [clean-css](https://github.com/jakubpawlowicz/clean-css) if you want this problem to be fixed.

[2015-07-30 07:53] #114 closed

[2015-07-30 20:37] soltx commented on #113
Hi, I have the same problem windows7 wasps (64), tomorrow I shall test files

[2015-08-05 20:57] mhumeSF commented on #113
I'm having a similar issue when trying to generate sourcemaps on a sass file that is importing a bower_component library. I saw [comment](https://github.com/murphydanger/gulp-minify-css/issues/80#issuecomment-108111926) on a similary [issue](https://github.com/murphydanger/gulp-minify-css/issues/80) with a test case setup at [https://github.com/mik-laj/gulp-minify-css-error](https://github.com/mik

[2015-08-06 11:43] archasek commented on #113
same problem here. any solution?

[2015-08-11 07:10] shinnn commented on #113
https://github.com/murphydanger/gulp-minify-css/issues/113#issuecomment-122485286

[2015-08-11 07:31] mhumeSF commented on #113
@shinnn Again, I think [mil-laj's] example was you're looking for. The scss file is just an import statement. [https://github.com/mik-laj/gulp-minify-css-error/blob/master/scss/style.scss]

[2015-08-14 10:25] markgoodyear commented on #113
I'm also seeing getting the same error from #113 when using Normalize from Bower.

[2015-08-14 10:54] shinnn commented on #113
@mhumeSF

No. The issue you pointed is about unexpected error rather than wrong SourceMap.

[2015-08-14 10:55] shinnn commented on #113
@markgoodyear

https://github.com/murphydanger/gulp-minify-css/issues/113#issuecomment-129735919

[2015-08-14 10:58] markgoodyear commented on #113
@shinnn, Sorry, I meant to reference #80.

[2015-08-18 04:46] sethbrin opened #115 "The minifyFilter function get error"
When I use gulp-minify-css, it get such error,
`
  property[1][0] = property[1][0].replace(/progid:DXImageTransform\.Microsof
                                              ^
  TypeError: Cannot read property '0' of undefined
`
The opacity css like that
`
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
 opacity: 0.7;
`

[2015-08-18 05:16] #115 closed

[2015-08-18 07:03] shinnn commented on #115
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-08-26 13:18] styopdev opened #116 "TypeError: Cannot read property '0' of null"
i get this error message
``...node_modules/gulp-minify-css/node_modules/clean-css/lib/selectors/extractor.js:58
  return name.replace(/^\-\w+\-/, '').match(/([a-zA-Z]+)/)[0].toLowerCase();``
I have fixed it added one if
``  if (name.replace(/^\-\w+\-/, '').match(/([a-zA-Z]+)/))
    return name.replace(/^\-\w+\-/, '').match(/([a-zA-Z]+)/)[0].toLowerCase();
``
It is not the best solution

[2015-08-26 14:21] shinnn commented on #116
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977
https://github.com/jakubpawlowicz/clean-css/issues/480

[2015-08-26 14:21] #116 closed

[2015-08-28 09:35] jrehwaldt commented on #80
I forked @mik-laj's project and recreated the issue using LESS instead of SASS. This removes the external Ruby/SASS dependency and ensures a simple ``bower install && npm install && gulp`` really does the trick.

Have a look here: https://github.com/jrehwaldt/gulp-minify-css-error

Please reopen this bug and tell us how we can assist further.

[2015-08-31 01:45] CrashyBang opened #118 "Minify converting css px units over to pc"
Is there a way to stop the minify converting the css px units to pc?

[2015-08-31 01:53] shinnn commented on #118
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-08-31 01:53] #118 closed

[2015-09-01 05:15] westyby opened #119 "bug in build file"
After build this CSS with gulp-minify-css
[code]
we get this code
[code]
But if we start grunt-contrib-cssmin build file looks fine
[code]
Test config: https://github.com/westyby/test-gulp-minify-css
OS: Linux Mint 17.2 http://joxi.ru/L21JRJyUD1GPAX

[2015-09-01 05:54] shinnn commented on #119
The Grunt plugin and this plugin uses different versions of clean-css.

* https://github.com/gruntjs/grunt-contrib-cssmin/blob/6ef8c3798b4447c38a5f52862c44cc1b672a5024/package.json#L19
* https://github.com/murphydanger/gulp-minify-css/blob/d02baeac1abaa99f47fbb33989c313c80d7828fc/package.json#L31

Seems a bug with the latest version of clean-css.

[2015-09-01 05:54] #119 closed

[2015-09-01 06:51] westyby commented on #119
Thank, clean-css repository has issue https://github.com/jakubpawlowicz/clean-css/issues/654

[2015-09-01 15:26] DriesVandermeulen commented on #113
Same problem, similar setup. Removing `minifyCSS()` from pipe solves the problem.
[code]

[2015-09-01 15:47] shinnn commented on #113
https://github.com/murphydanger/gulp-minify-css/issues/113#issuecomment-131074409

[2015-09-01 19:54] DriesVandermeulen commented on #113
@shinnn there is a [project](https://github.com/jrehwaldt/gulp-minify-css-error) that reproduces the problem in [#88](https://github.com/murphydanger/gulp-minify-css/issues/80#issuecomment-135714783) by @jrehwaldt.
Tried it myself on OSX and the error pops up...

[2015-09-02 03:18] shinnn commented on #113
https://github.com/murphydanger/gulp-minify-css/issues/113#issuecomment-131074213

[2015-09-04 15:25] aorylamballe commented on #113
Hi,

I met the problem as well. It seems that the minifier has an issue to generate the new source-map when minifying a file that already has a source-map, either from a previous ```pipe()``` (e.g. scss compiler) or a file that already has a source-map attached (```.pipe(sourcemaps.init({loadMaps: true}))```).

Here are 2 samples that reproduces the issue for me:. The first is a demo with a scss c

[2015-09-14 14:12] g---- opened #120 "Error with clean-css 3.4.2"
New version for `clean-css` breaks build.

Could you please:
+ fix version in `package.json` (remove `^` for every dependency to avoid this bug in future)
+ fix this:

[code]

[2015-09-14 15:00] shinnn commented on #120
No thanks. It's all clean-css's fault for breaking things without major version bump. [Changing the dafault option value](https://github.com/jakubpawlowicz/clean-css/issues/654#issuecomment-140053451) requires a version bump to v4.0.0, but the author doesn't.

https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-09-14 15:00] #120 closed

[2015-09-14 16:02] g---- commented on #120
I meant that by removing `^` from `package.json` you will prevent any future breakdown caused by external library update.

[2015-09-14 21:52] shinnn commented on #120
gulp-minify-css is not to blame for "any future breakdown caused by external library update". The reason why you ran into this problem is clean-css doesn't follow [SemVer specification](http://semver.org/).

Again https://github.com/murphydanger/gulp-minify-css/issues/120#issuecomment-140108062,

[2015-09-15 09:50] jeffwhelpley opened #122 "Update to clean-css 3.4.3 so gulp-minify-css will work with node v4"
See this issue:

https://github.com/jakubpawlowicz/clean-css/issues/668

I haven't tested the fix out yet, but gulp-minify-css is currently broken in node v4 because of this issue.

[2015-09-15 10:01] shinnn commented on #122
https://github.com/murphydanger/gulp-minify-css/pull/121#issuecomment-140318153

[2015-09-15 10:01] #122 closed

[2015-09-18 02:05] callmecavs commented on #113
@shinnn any updates on this? can confirm the case described immediately above by @aorylamballe.  seems as though the sourcemap written after minification reports the wrong line numbers

[2015-09-22 14:31] ethanclevenger91 commented on #120
Well it's not a workaround - it's compatibiliy. While I can sympathize with a desire for proper SemVer, even if clean-css went and bumped the version number _now_, the broken one is already out in the wild - they could bump to 4.0.0 right now, but you're `^` would still grab the broken one. I'm not sure they can go back and remove that version from existence and create a new one at 4.0.0. If they

[2015-09-24 14:27] Loyalsoldier commented on #110
Hi @arasmussen . I came across this problem.

If I could ask for the solution? Thanks!

[2015-09-28 19:29] vadimyer opened #123 "Adding empty line in the end"
If one is too strict in terms of standards, how do you do that?

[2015-09-28 19:35] shinnn commented on #123
[gulp-footer](https://www.npmjs.com/package/gulp-footer) helps you.

[2015-09-28 19:35] #123 closed

[2015-09-30 09:11] bashaus opened #124 "Documentation of compatibility option"
Love your work! A little bit confused about what the `compatibility` option does. Could you please provide more information?

[2015-09-30 12:43] shinnn commented on #124
I'll add a link to https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-api where all the docs for clean-css options are described. It solves this issue.

[2015-09-30 13:12] bashaus commented on #124
Thanks @shinnn ! +1

[2015-10-16 19:12] storafrid commented on #80
+1 as I'm running into this issue as well. Replacing gulp-minify-css with gulp-uglifycss resolves the issue. The only SCSS I'm loading is the Zurb Foundation library.

Should this issue be closed, @shinnn ?

[2015-10-16 19:14] shinnn commented on #80
@storafrid Why do you think that is a gulp-minify-css issue?

[2015-10-16 20:28] storafrid commented on #80
Your question doesn't seem to be very helpful. How is it not a gulp-minify-css issue that I get this error when running gulp-minify-css? The same command works with gulp-uglifycss.

Feel free to ask your actual questions that helps us move forward with the issue. Meanwhile I am using gulp-uglifycss.

[2015-10-16 22:12] shinnn commented on #80
I've investigated for a while and finally I found the root cause, [this gulp-sourcemaps behavior](https://github.com/floridoo/gulp-sourcemaps/pull/11#issuecomment-47792254).

gulp-less and gulp-sass should be fixed in a way equivalent to https://github.com/contra/gulp-coffee/pull/42.

Now, I can confidently say, this is not a gulp-minify-css issue. https://github.com/floridoo/gulp-sourcemaps/issue

[2015-10-17 08:34] storafrid commented on #80
Good job with the investigation! Should an issue in the gulp-sourcemaps project be created, or what is the proposed way forward in order to resolve this?

[2015-10-17 08:59] shinnn commented on #80
Probably, no. It's already enough discussed on that repo.

The easiest way is adding `sourceRoot` option to https://github.com/jrehwaldt/gulp-minify-css-error/blob/0f178e3506b94cda48df34d9af2f487f579b3d42/gulpfile.js#L23:

[code]

Or, disable gulp-minify-css's `sourceMap` option.

[code]

[2015-10-21 11:41] daanvanham opened #125 "`clean-css` not updated"
I ran into an issue for `clean-css`: https://github.com/jakubpawlowicz/clean-css/issues/668. Could the dependency get an update?

[2015-10-21 11:42] shinnn commented on #125
https://github.com/murphydanger/gulp-minify-css/issues/122#issuecomment-140342744

[2015-10-21 11:42] #125 closed

[2015-10-21 11:52] daanvanham commented on #125
Ah, my bad... Sorry for bothering you with nothing :)

[2015-10-21 11:54] shinnn commented on #125
@daanvanham No problem. Thanks for trying to contribute to this project though.

[2015-10-23 07:04] jrehwaldt commented on #80
https://github.com/plus3network/gulp-less/issues/166#issuecomment-150491964 FYI: I indeed see an issue with latest `gulp-less@3.0.3` causing issues with sourcemaps. But while I could get `gulp-postcss+csswring` and `gukp-cssnano` play nicely with versions pre-3.0.3, I never got a correct sourcemap using `gulp-minify-css`.

[2015-10-23 08:40] shinnn commented on #80
@jrehwaldt Did you read https://github.com/murphydanger/gulp-minify-css/issues/80#issuecomment-148848226 before submitting a new comment?

[2015-10-23 10:43] shinnn commented on #80
An awesome pull request to fix this problem from @jrehwaldt, the CSS and sourcemap expert, is always appreciated.

[2015-10-23 11:01] jrehwaldt commented on #80
I didn't mean to offend you and just wanted to let you know. Sorry, that that's not appreciated. And no, I am neither an expert nor would I be able to create awsome pull requests. If I could, I'd do it.

And yes, I tried your two solution proposals. The first I couldn't get to work as it seems incomplete (or I'm just not getting what I should set as `sourceRoot`) and the second turns sourcemaps of

[2015-11-11 22:43] jasonszhao commented on #109
Same thing happens to me when I pass in the `plugins` property. Why?

[2015-11-12 02:45] shinnn commented on #109
:point_right: https://github.com/plus3network/gulp-less/issues

[2015-11-20 03:50] phazei commented on #113
I'm having an issue related to this as well.

[code]
Throws error
[code]

But:
[code]

Works just fine.

Basically,  I can't call sourcemaps.write() before minifyCss or it breaks :(

[2015-11-30 12:32] murphydanger commented on #124
@shinnn is this issue solved, or no?

[2015-11-30 12:35] shinnn commented on #124
Not solved.

[2015-11-30 13:09] shinnn commented on #113
@murphydanger is this issue solved, or no?

[2015-11-30 13:11] murphydanger commented on #113
I haven't touched it... so no clue. :disappointed:

[2015-12-01 23:09] phazei commented on #113
I think this issue is being caused by either node-sass or libsass.  Though chances are most people using sourcemaps with minify would be specifically doing it for use with sass.  There's this issue: https://github.com/dlmanning/gulp-sass/issues/394 that seems to get closer to the origin.

[2015-12-02 00:01] stevendesu opened #129 "IE8 compatibility: RGBA color plus separate color property creates invalid result"
I noticed this when I tried to concatenate and minify a number of CSS files which included a jQuery tourbus plugin. In this plugin there is CSS akin to the following:

[code]

Upon getting minified this produced:

[code]

In all common browsers the original works (`border-color` overrides the color in the shorthand property) however the minified version does not (invalid shorthand)

Doing a little

[2015-12-02 00:58] shinnn commented on #129
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-12-02 00:58] #129 closed

[2015-12-02 21:24] seafoam6 opened #130 "options for pc / px"
Excuse me if I'm dense. But I'm trying to get the plugin to NOT convert 'px' to 'pc'. I've been searching through the documentation here and on clean-css and can't seem to find the answer.

[2015-12-03 02:54] shinnn commented on #130
Read https://github.com/jakubpawlowicz/clean-css/blob/master/README.md carefully.

[2015-12-03 02:54] #130 closed

[2015-12-03 19:20] seafoam6 commented on #130
-1

[2015-12-09 04:23] Amakaruk opened #131 "How To Rename File After Minification?"
I want to rename my style.css file as style.min.css after running the minify-css task. How should I modify my code?

    // Minify CSS
    gulp.task('minify-css', function() {
      return gulp.src('./dist/css/style.css')
        .pipe(minifyCss({compatibility: 'ie8'}))
        .pipe(gulp.dest('./dist/css'));
    });

[2015-12-09 04:24] shinnn commented on #131
https://github.com/murphydanger/gulp-minify-css/issues/53#issuecomment-68443979

[2015-12-09 04:24] #131 closed

[2015-12-09 12:00] DeadcatDev commented on #124
Still waiting for it :+1:

[2015-12-09 12:16] DeadcatDev opened #132 "Skip clearing some attr"
How to omit clearing !IMPORTANT (using gulp), example:

body.less -> body css without gulp-minify-css
body.less
[code]
will output 'the same' file, but with minify it will be like:
[code]

need my !IMPORTANT's back, even when minify-ed

gulp-task is real simple:
[code]

[2015-12-09 12:18] shinnn commented on #132
https://github.com/murphydanger/gulp-minify-css/issues/82#issuecomment-87196977

[2015-12-09 12:18] #132 closed

[2015-12-09 18:43] #124 closed

[2015-12-19 12:40] jaminroe commented on #113
Is this still an issue? The mention node-sass bug was closed.

[2015-12-19 12:41] jaminroe opened #134 "Prevent minified CSS from creating sourcemap?"
How do I prevent this plug-in from compiling a minified version of the source map? Example:

![image](https://cloud.githubusercontent.com/assets/1559447/11911259/a7e6c05a-a5dd-11e5-9c82-1839f8d01cd2.png)

This is what I have in my gulpfile for this task:
[code]

If I just do: `.pipe(minifyCss())` it doesn't create a .min version of oneweb.css, it just creates compressed/minified css in that file.

[2015-12-19 12:49] shinnn commented on #134
I cannot run your gulpfile.

[code]

[2015-12-19 12:52] shinnn commented on #134
Just a duplicate of https://github.com/jakubpawlowicz/clean-css/issues/716#issuecomment-165962992, and the clean-css author already answered well.

[2015-12-19 12:52] #134 closed

[2015-12-19 16:27] jaminroe commented on #134
I just was showing a simplified version of my file. Thanks, wasn't sure if you would give me a different solution.

[2015-12-24 09:05] murphydanger commented on #113
I'll look into this right now.

[2015-12-24 15:20] murphydanger commented on #113
Because I can't seem to find an issue here, I've created a new repo [specifically for this issue](https://github.com/murphydanger/minify-css-sourcemaps-error), based on what was mentioned above.

Feel free to check it out.

[2015-12-24 15:31] shinnn commented on #113
@murphydanger Why so irresponsible? You are the owner of this project, and I'm just one of the contributors.

[2015-12-24 15:32] murphydanger commented on #113
@shinnn I figured you wanted to take care of this as you reopened the issue? :confused:

[2015-12-24 15:36] shinnn commented on #113
@murphydanger Why I reopened this issue is that you seemed to click close button unintentionally. Is it wrong?

[2015-12-24 15:40] murphydanger commented on #113
No, I closed the issue on purpose.

I was unable to sanely reproduce the issue above, so I felt that it would be wiser to create the repo [murphydanger/minify-css-sourcemaps-error](http://github.com/murphydanger/minify-css-sourcemaps-error).

The conversation can be moved there with a bit less friction, eh?

[2015-12-24 15:40] #113 closed

[2015-12-26 06:27] skoblenick opened #135 "Plugin deprecated?"
Is this plugin deprecated in favor of gulp-cssnano like the npm registry implies? If so can you please update the readme to indicate this.

[2015-12-26 08:03] wzup opened #136 "Is the plugin depricated?"
I get this warn:
[code]
Is that true?

[2015-12-28 13:23] murphydanger commented on #136
copy of #135

[2015-12-28 13:23] #136 closed

[2015-12-28 13:23] murphydanger commented on #135
Great question! @shinnn did you deprecate the plugin?

[2015-12-28 15:55] murphydanger commented on #135
I believe that @shinnn did, in fact, deprecate this plugin. Owing to his wishes, I guess we'll leave it that way.

[2015-12-28 15:55] #135 closed

[2015-12-28 16:20] zarko-tg commented on #135
Unsure if that'll do. We got at least one Angular Ionic project (hybrid mobile app) using gulp-minify-css out of the box. Switching to gulp-cssnano added about 5 seconds to the process that is often used continuously on a daily basic / during heavier development.

First impressions anyhow.

[2015-12-28 16:29] murphydanger commented on #135
Interesting!

We'll one solution would be to not minimize your css during development,
but even then 5 seconds seems like a long time.

Have you looked at the various options?
On Mon, 28 Dec 2015 at 17:20, Zarko Hristovski <notifications@github.com>
wrote:

[2015-12-29 09:02] zarko-tg commented on #135
@murphydanger Certainly, not minimizing the css continuously while developing/saving files is something to consider. Even though we always prefer and tend to run in dev. env as close to prod. env.
Other than that I haven't investigates yet any options related to the issue at hand.

[2015-12-29 09:43] murphydanger commented on #135
Just as a thought:

If you are already using [`gulp-autoprefixer`](https://github.com/sindresorhus/gulp-autoprefixer), it may make sense unroll it, and instead use the vanilla versions of [`autoprefixer`](https://github.com/postcss/autoprefixer) and [`cssnano`](https://github.com/ben-eb/cssnano) to build just one [`gulp-postcss`](https://github.com/postcss/gulp-postcss) step.

##### e.g.
[code]

[2015-12-29 11:59] zarko-tg commented on #135
Not using gulp-autoprefixer as far as I can tell.

The Ionic 1 CLI generates/uses a gulpfile.js for created projects as you can see it here: https://gist.github.com/zarko-tg/9e757ebcfe68dc45218f

In short, it first runs a SASS compiler and then it minimizes. So as it is at present (using gulp-minify-css), you'll get times as these:
[code]
When using nano() instead of minifyCss(...) in the pipe, I

[2015-12-29 12:16] ben-eb commented on #135
These issues might help in regard to performance discussion, which is a known issue; historically I have prioritised features over performance. Don't think that the gulp wrapper is going to make a whole lot of difference, but any benchmarks you have are welcome.

* v4 refactoring: https://github.com/ben-eb/cssnano/issues/88
* general perf: https://github.com/ben-eb/cssnano/issues/47 & https://gith

[2015-12-29 14:24] murphydanger commented on #135
@zarko-tg

##### Truth
`cssnano` is *slow*. But this is likely due to all the de-duplication it's doing in the background--I've seen a 10% size reduction in my resulting `css` files.

##### HOWEVER
If you want to speed things up (at the cost of these great compression benefits), try: `discardDuplicates: false` as an option.

[2016-01-04 09:31] Mitranim commented on #135
I believe the deprecation is ill-advised. This plugin is for people who prefer `clean-css` over `cssnano`.

[2016-01-04 09:52] murphydanger commented on #135
Just because the plugin is depreciated doesn't mean it doesn't work any more.

Let's see if `cssnano` improves overtime and if things remain so unpalatable, then we can always _undeprecate_ this package, I suppose.

[2016-01-08 14:55] glen-84 commented on #135
I also chose `clean-css` over `cssnano` (due to performance), so this is a bit disappointing.

[2016-01-20 15:57] ivandotv commented on #113
This error still exists, and the repo for the error has been deleted.
However I have [forked it](https://github.com/ivandotv/minify-css-sourcemaps-error) a while back, because the use case for testing the error was wrong.

[2016-01-20 21:37] dgreene1 commented on #135
Yes, since our team recompiles the CSS whenever there is a change to any CSS file, we can't afford to pause for the wait times of cssnano. So I'm going to continue using gulp-minify-css until cssnano improves performance.

[2016-01-21 04:07] buschschwick commented on #135
@dgreene1 just out of curiosity what kind of times are you seeing with cssnano? Our team made the jump and don't really see any significant performance impact. Are we talking massive CSS compiling?

[2016-01-21 14:31] dgreene1 commented on #135
@buschschwick, I believe it was about 60 seconds for cssnano and 30 seconds for gulp-minify-css. If someone wants me to get specific measurements, I can do that.

[2016-01-21 18:27] buschschwick commented on #135
@dgreene1 Oh wow. We aren't hitting any sort of times like that, our projects are at _maybe_ 1 to 2 seconds. Interesting!

[2016-01-21 21:34] dgreene1 commented on #135
Our issues seem to be exacerbated by the fact that we're using a manually generated glob, like:
['file1',
'file2',
//...
'file234']

We have the short term goal of using a wildcard to simply that, but in the meantime we're stuck with a hardcoded list of css files. I'm sure that isn't making cssnano any happier. :/

[2016-02-01 18:41] scniro opened #137 "Remove deprecation warning"
This package is far superior than gulp-cssnano in terms of raw out-of-the-box performance. I swapped for gulp-cssnano on a large project and am experiencing execution times of which are ~20x longer. Perhaps "more advanced optimizations" has it's place, but I will not consider such a package with execution times of that  length.

Deprecating this package based on the vast performance difference doe

[2016-02-05 04:27] ImBobby commented on #135
Found several ways to use clean-css from the [repo](https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-with-build-tools), which is using [gulp-cleancss](https://github.com/mgcrea/gulp-cleancss) or using [vinyl-map](https://github.com/jakubpawlowicz/clean-css/issues/342). Was excited to discover gulp-cleancss but unfortunately the plugin is not maintained and I doubt whether using vin

[2016-02-09 22:36] phazei commented on #137
+1

[2016-02-10 16:28] erwstout commented on #137
+1

[2016-02-15 13:06] ralf-prescher commented on #137
+1

[2016-02-19 13:42] mikesherov commented on #137
This is an open source, MIT licensed package. Fork the project, republish on npm as `gulp-clean-css`, and maintain it!

Deprecation means the original maintainer has no interest in maintaining it any further.

[2016-02-19 13:43] mikesherov commented on #135
This is an open source, MIT licensed package. Fork the project, republish on npm as gulp-clean-css, and maintain it!

Deprecation means the original maintainer has no interest in maintaining it any further.

[2016-02-19 14:31] murphydanger commented on #135
:+1:
On Fri, 19 Feb 2016 at 14:43, Mike Sherov <notifications@github.com> wrote:

[2016-02-22 00:25] scniro commented on #137
done! Nice suggestion btw. Tests and CI are removed for now, coming soon once I get some time, but I definitely plan to actively maintain this under the new name. Feel free to migrate to this for now if you'd like - it'll become more refined/complete in the future as I can work on it - which I am more than excited to do :)

[2016-02-22 00:26] #137 closed

[2016-02-24 05:34] scniro commented on #136
@wzup I have forked and published [https://github.com/scniro/gulp-clean-css](gulp-clean-css) as a result of this warning and will maintain the project going forward. All deps including `clean-css` are up to date

[2016-02-24 05:37] scniro commented on #135
@ImBobby @skoblenick @zarko-tg @ben-eb @Mitranim @glen-84 @dgreene1 I have forked and published [https://github.com/scniro/gulp-clean-css](gulp-clean-css) as a result of this warning and will maintain the project going forward. All deps including `clean-css` are up to date

[2016-02-24 07:18] glen-84 commented on #135
@scniro Awesome! Thank you.

[2016-02-24 07:44] ImBobby commented on #135
@scniro You're awesome!

[2016-02-24 09:48] murphydanger commented on #135
Well this is lovely. I'll go ahead and change the npm plugin deprecation warning to point to you.

Word of advice: don't have @shinnn maintain your project. He'll randomly get mad at you, and suddenly deprecate your plugin. :no_good: